.main-shopping-div{
    background: linear-gradient(to right, #667eea, #764ba2);
    margin-top: -20px;
    padding-bottom: 10%;
}

.split {
    display:flex;
    flex-direction: row;
  }
  
  .productList {
    left: 0;
  }
  
  .cartBox {
    right: 0;
    width:80%;
    background-color: #667eea;
    margin-right: 20px;
  }
  .content-shopping{
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      color: white;

  }
  .cartEntry{
    height: 80px;
    display: flex;
    background-color: aqua;
    flex-direction: row;
    justify-content: space-between;
}
.cart-Icon{
  padding-top: 5px;
  float: right;
  height: 70px;
  width: 70px;
}
.cart-text{
  justify-content: center;
  align-items: center;
display: flex
}
.contentText{
  text-align: center;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  
}