.container{
}
.flex-main-row{
  display:flex;
  flex-direction: 'row';
   background-color: #E6E6FA;
   border-radius: 15px;
}
.flex-one{
  justify-content:"flex-start";

}
.flex-two{
  justify-content:"flex-end";
}
.redux-title{
  color:#209ead;
}