.channel-div{
    background-color:dimgray;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    margin-Top:-20px;
    display: flex;
    flex-direction: row;
}
.channel-main-div{
   
}