.footer-main-div {
    position: "fixed";
    left: "0";
    bottom: "0";
    width: "100%";
    background-color: "#004165";
    color: "white";
    text-align: "center";
    padding : "10px"
  }
  
  ul {
  list-style-type: none;
}
ul li{
  display: inline;
  padding:10px;
}
li:hover{
 text-decoration: none;
}