.main-contact-div{
}
.contact-content-div{
    padding-left: 5%;
    line-height: 25px;
    padding-bottom: 8%;
    padding-top: 2%;
}
.contact-map-maindiv{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between
}
.flex-one-form{
    padding-left:5%;
    line-height: 25px;
    width:50%
}
.flex-two{
    width:50%
}
.flex-main-row{
    background-color:salmon
}

.form-container {
    background-color: #2c3e50;
    height: 90vh;
    padding-top: 100px;
    padding-left: 80px;
    width: 91vh;
  

  }
  
#inputText {
    background-color: transparent;
    border: 0;
    border: solid 1px #cdcdcd;
    width: 50%;
    padding-bottom: 4px;
    color: #000 !important;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
  }
  
  #inputText{ 
      outline: none;
  }
  
  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
      -webkit-text-fill-color: #000 !important;
  }

  input[type="number"] {
    background-color: transparent;
    border: 0;
    border: solid 1px #cdcdcd;
    width: 50%;
    padding-bottom: 4px;
    color: #000 !important;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
  }
  
  input[type="number"] { 
      outline: none;
  }
  
  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
      -webkit-text-fill-color: #000 !important;
  }

  textarea[type="text"] {
    background-color: transparent;
    border: 0;
    border: solid 1px #cdcdcd;
    width: 60%;
    padding-bottom: 4px;
    color: #000 !important;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
  }
  
  textarea[type="text"] { 
      outline: none;
  }
  .messageSuccess-Div{
      background-color: lightgreen;
      height: 30px;
      width: 80%;
  }
  .successText{
      padding-left: 10px;
      font-size: 16px;

  }